
*{
    margin: 0;
    padding: 0;
}

  header{
    background-color: #204ebc;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
  }
  
  img {
    width: 80px; 
    height: 80px;
  }
  
  h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  nav ul {
    list-style: none; 
    display: flex;
  }
  
  nav li {
    margin-right: 50px;
    height: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  nav a:active {
    font-size: 30px;
    color: #204ebc;
  }

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .imgprincipal{
    width: 100%;
    height: 700px;
  }

  footer {
    background-color: #204ebc;
    color: #204ebc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
  }
  
  .lista-horizontal li {
    margin: 0 100px;
  }
  
  .lista-horizontal a {
    color: #204ebc;
    text-decoration: none;
  }

  .imgredes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }

  .titulo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }

  .sponsors{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
  }

  .ganadores, .sponsors, .subtitulo, .palmares, .palmares1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .subtitulo, .ganadores, .sponsors{
    font-size: 40px;
    margin-bottom: 20px;
  }

  .parrafo1{
    font-size: 20px;
    margin-bottom: 20px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .redes-sociales{
    display: inline-flex;
    margin-right: 20px;
  }
  
  .redes-sociales img {
    width: 10px;
    height: auto; 
    display: block;
    text-align: center;
  }

  .ganadoresimg{
    width: 100%;
    height: 400px;
  }

  .equipos{
    font-size: 40px;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    margin-bottom: 20px;
    grid-area: equipos;
  }

  .titequipos1, .titequipos2, .titequipos3, .titequipos4{
    font-size: 35px;
  }

  .nomequipos1, .nomequipos2, .nomequipos3, .nomequipos4{
    font-size: 20px;
  }



  .imgequipos1, .imgequipos2, .imgequipos3, .imgequipos4{
    width: 200px;
    height: 200px;
  }

  .imgpalm, .imgpalm2{
    width: 200px;
    height: 400px;
  }

  .imgpalm{
    margin-left: 310px;
  }

  .imgpalm2{
    margin-left: 570px;
  }

  .palmares, .palmares1{
    font-size: 30px;
  }

.textohistoria, .textohistoria1, .textohistoria2{
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pacheco{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  margin-left: 30px;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
  "equipos equipos"
  "equipo1 img1"
  "nom1 img1"
  "equipo2 img2"
  "nom2 img2"
  "equipo3 img3"
  "nom3 img3"
  "equipo4 img4"
  "nom4 img4";
}

.titequipos1{
  grid-area: equipo1;
}

.titequipos2{
  grid-area: equipo2;
}

.titequipos3{
  grid-area: equipo3;
}

.titequipos4{
  grid-area: equipo4;
}

.nomequipos1{
  grid-area: nom1;
}

.nomequipos2{
  grid-area: nom2;
}

.nomequipos3{
  grid-area: nom3;
}

.nomequipos4{
  grid-area: nom4;
}

.imgequipos1{
  grid-area: img1;
}

.imgequipos2{
  grid-area: img2;
}

.imgequipos3{
  grid-area: img3;
}

.imgequipos4{
  grid-area: img4;
}

.grid2{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: 
  "titulo titulo"
  "texto1 texto1"
  "texto2 pacheco";
}

.palmares1{
  grid-area: titulo;
}

.textohistoria1{
  grid-area: texto1;
}

.textohistoria2{
  grid-area: texto2;
}

.pacheco{
  grid-area: pacheco;
}

.cont{
  margin: 20px;
}

.nomequipos1, .nomequipos2, .nomequipos3, .nomequipos4, .textohistoria, .textohistoria1, .textohistoria2{
  font-family: 'Montserrat', sans-serif;
}

.btn-custom{
  background-color: #204ebc;
}

.ganadores, .sponsors, .subtitulo, .equipos, .titequipos1, .titequipos2, .titequipos3, .titequipos4, .palmares, .palmares1{
  font-family: 'Playfair Display', serif;
}

@media(max-width: 767px){
  header{
    background-color: #204ebc;
    display: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
  }
  .imgprincipal{
    width: 100%;
    height: 250px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  nav ul {
    list-style: none; 
    display: flex;
  }
  
  nav li {
    margin-right: 13px;
    height: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  
  nav a:active {
    font-size: 30px;
    color: #204ebc;
  }
  footer {
    background-color: #204ebc;
    color: #204ebc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
  }
  .lista-horizontal li {
    margin: 0 40px;
  }
  .lista-horizontal a {
    color: #204ebc;
    text-decoration: none;
  }
  .imgredes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
  }
  .ganadores, .sponsors, .subtitulo, .palmares, .palmares1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    font-size: 26px;
  }
  .ganadoresimg{
    width: 100%;
    height: 150px;
  }
  .equipos{
    font-size: 30px;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    margin-bottom: 20px;
    grid-area: equipos;
  }
  .titequipos1, .titequipos2, .titequipos3, .titequipos4{
    font-size: 15px;
  }
  .nomequipos1, .nomequipos2, .nomequipos3, .nomequipos4{
    font-size: 10px;
  }
  .imgequipos1, .imgequipos2, .imgequipos3, .imgequipos4{
    width: 100px;
    height: 100px;
  }
  .palmares, .palmares1{
    font-size: 25px;
  }
  .imgpalm, .imgpalm2{
    width: 100px;
    height: 200px;
  }
  .imgpalm{
    margin-left: 90px;
  }
  .imgpalm2{
    margin-left: 190px;
  }
  .textohistoria, .textohistoria1, .textohistoria2{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pacheco{
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cont{
    margin: 20px;
  }
}

@media(min-width: 768px) and (max-width: 1023px){
  header{
    background-color: #204ebc;
    display: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  nav li {
    margin-right: 40px;
    height: 20px;
  }
  .imgprincipal{
    width: 100%;
    height: 400px;
  }
  footer {
    background-color: #204ebc;
    color: #204ebc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
  }
  .lista-horizontal li {
    margin: 0 80px;
  }
  .lista-horizontal a {
    color: #204ebc;
    text-decoration: none;
  }
  .imgredes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
  }
  .ganadoresimg{
    width: 100%;
    height: 200px;
  }
  .equipos{
    font-size: 40px;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    margin-bottom: 20px;
    grid-area: equipos;
  }
  .titequipos1, .titequipos2, .titequipos3, .titequipos4{
    font-size: 25px;
  }
  .nomequipos1, .nomequipos2, .nomequipos3, .nomequipos4{
    font-size: 15px;
  }
  .imgequipos1, .imgequipos2, .imgequipos3, .imgequipos4{
    width: 120px;
    height: 100px;
  }
  .palmares, .palmares1{
    font-size: 30px;
  }
  .imgpalm, .imgpalm2{
    width: 200px;
    height: 400px;
  }
  .imgpalm{
    margin-left: 130px;
  }
  .imgpalm2{
    margin-left: 290px;
  }
  .textohistoria, .textohistoria1, .textohistoria2{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pacheco{
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width: 1024px){
  header{
    background-color: #204ebc;
    display: center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  nav li {
    margin-right: 80px;
    height: 20px;
  }
  .imgprincipal{
    width: 100%;
    height: 700px;
  }
  footer {
    background-color: #204ebc;
    color: #204ebc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
  }
  .lista-horizontal li {
    margin: 0 120px;
  }
  .lista-horizontal a {
    color: #204ebc;
    text-decoration: none;
  }
  .imgredes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
  }




  .ganadoresimg{
    width: 100%;
    height: 350px;
  }
  .equipos{
    font-size: 40px;
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    margin-bottom: 20px;
    grid-area: equipos;
  }
  .titequipos1, .titequipos2, .titequipos3, .titequipos4{
    font-size: 35px;
  }
  .nomequipos1, .nomequipos2, .nomequipos3, .nomequipos4{
    font-size: 15px;
  }
  .imgequipos1, .imgequipos2, .imgequipos3, .imgequipos4{
    width: 250px;
    height: 200px;
  }
  .palmares, .palmares1{
    font-size: 40px;
  }
  .imgpalm, .imgpalm2{
    width: 250px;
    height: 500px;
  }
  .imgpalm{
    margin-left: 280px;
  }
  .imgpalm2{
    margin-left: 550px;
  }
  .textohistoria, .textohistoria1, .textohistoria2{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .pacheco{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 
}